@model ICollection<Front.ViewModels.RssSubscriptionViewModel>
@{
    ViewData["Title"] = "RSS sources";
}
<h1>@ViewData["Title"]</h1>

@foreach (var source in Model)
{
    @await Html.PartialAsync("_RssSourceItem", source)
}

<a asp-action="ShowRssSourceCreatePage" class="link__button">Add rss source <i class="fas fa-plus"></i></a>
