@using Downloader.Common.Models
@model IEnumerable<Downloader.Common.Models.RssSourceReadModel>
@{
    ViewData["Title"] = "Rss sources";
    var newSource = new RssSourceManageModel { Guid = Guid.NewGuid() };
}
<h1>@ViewData["Title"]</h1>

@foreach (var source in Model)
{
    @Html.Partial("_RssSourceUpdateForm", source)
}

@Html.Partial("_RssSourceCreateForm", newSource)
